.headerWrapper {
	display: block;
	width: 100%;
	background: #8c8b88;
	top: 0;
	position: relative;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerTitle {
	margin: 0;
	font-size: 40px;
	line-height: 1.2rem;
}

.menuToggle {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 50px;
	background: #00010d;
	top: 25px;
	left: 20px;
}

.menuLink {
	width: 60px;
	height: 50px;
	display: block;
}

.hamburger {
	transition: background 0.2s ease 0.4s;
	display: block;
	width: 100%;
	height: 2px;
	transform-origin: 50% 50%;
	width: 60%;
	margin: 0 20%;
	position: relative;
	background: #ffffff;
	top: 22px;
}

.hamburger:before,
.hamburger:after {
	display: block;
	width: 100%;
	height: 2px;
	transform-origin: 50% 50%;
	position: absolute;
	left: 0;
	content: '';
	background: #ffffff;
	transition: transform 0.2s ease 0s, width 0.2s ease 0.2s, top 0.2s ease 0.4s;
	transform-origin: 0 50%;
}

.hamburger:before {
	top: -10px;
}

.hamburger:after {
	top: 10px;
}

.menuOpen .hamburger {
	transition: background 0.2s ease 0s;
}

.menuOpen .hamburger:before,
.menuOpen .hamburger:after {
	transition: top 0.2s ease 0s, width 0.2s ease 0.2s, transform 0.2s ease 0.4s;
	top: 0;
	width: 50%;
}

.menuOpen .hamburger:before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.menuOpen .hamburger:after {
	transform: rotate3d(0, 0, 1, -45deg);
}
